@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

$fixed-width: 'Roboto Mono', Monaco, Consolas, 'Lucida Console', monospace;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: #555555;
  background-color: #ffffff;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  max-width: 860px;
  padding: 0 30px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

pre {
  font-family: $fixed-width;
}

.box {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.box--round {
  border-radius: 4px;
}

.text--fixed {
  font-family: $fixed-width;
}

.text--small {
  font-size: 14px;
}

.text--base {
  font-size: 16px;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.regex {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  > div {
    align-self: top;
  }
}

.regex__slash {
  padding: 5px 10px;
}

.regex__input {
  flex: 1 0 auto;
}

input.input, textarea.input {
  outline: none;
  padding: 5px 10px;
  width: 100%;
  border: none;
  -webkit-appearance: none;
  background-color: #f5f5f5;
  resize: none;
}

#regex-test-wrapper {
  position: relative;
  background-color: #f5f5f5;
}

#regex-test {
  display: block;
  position: relative;
  background-color: transparent;
}

.regex-results {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  color: transparent;

  mark {
    color: transparent;
    background-color: #c6e3ff;
  }
}

.cheatsheet {
  font-size: 12px;

  thead {
    text-align: left;
    font-size: 10px;
    text-transform: uppercase;

    th {
      width: 25%;
    }
  }

  tbody {
    tr {
      td {
        padding: 5px;
      }

      td:nth-child(odd) {
        @extend .font--fixed;
      }
    }
  }
}

.mb {
  margin-bottom: 10px;
}

.mb\+ {
  margin-bottom: 20px;
}

.p {
  padding: 10px;
}

.p\+ {
  padding: 20px;
}